@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: white;
}

#flexContainer {
  display: flex;
  padding: 12px;
}

canvas {
  width: 100%;
  height: 75vh;
  margin: auto;
}

#leftSection {
  flex: 1;
  padding: 12px;
}
#rightSection {
  flex: 3;
  padding: 12px;
}

#sliderPanel {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 75vh;
  padding: 12px;
  margin: auto;
}
#creditPanel {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-top: 17px;
  padding: 12px;
  height: 15vh;
}

.creditText {
  text-align: center;
}

#navigationPanel {
  margin: auto;
  margin-top: 12px;
  display: flex;
  padding: 12px;
  height: 15vh;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navButton {
  margin: 10px;
  padding: 10px;
  color: black;
  width: max-content;
  height: max-content;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 10pt;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropDownMenu {
  margin: 8px;
  cursor: pointer;
  padding: 12px;
  font-size: 12pt;
  width: max-content;
  outline: none;
  font-weight: 300;
  height: 40px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropDownLabel {
  font-size: 10pt;
  color: grey;
  margin: 0px;
}
.dropDownSection {
  margin-right: 12px;
}

.slider {
  margin-bottom: 20px;
}
