@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: white;
}
canvas {
  width: 90vh;
  height: 50vh;
  margin: auto;
  margin-top: 30px;
}
#navigationPanel {
  margin: auto;
  margin-top: 12px;
  display: flex;
  padding: 12px;
  width: 90vh;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navButton {
  margin: 10px;
  padding: 10px;
  color: black;
  width: max-content;
  height: max-content;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 10pt;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropDownMenu {
  margin: 8px;
  cursor: pointer;
  padding: 12px;
  font-size: 12pt;
  width: max-content;
  outline: none;
  font-weight: 300;
  height: 40px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropDownLabel {
  font-size: 10pt;
  color: grey;
  margin: 0px;
}
.dropDownSection {
  margin-right: 12px;
}
