@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: white;
}
canvas {
  width: 100vw;
  height: 90vh;
  display: block;
  position: relative;
}
#navigationPanel {
  display: flex;
  padding: 12px;
  position: absolute;
  width: 100vw;
  background-color: white;
}

.navButton {
  margin: 10px;
  padding: 10px;
  color: black;
  width: max-content;
  height: max-content;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 10pt;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#objectButtonsWrapper {
  display: flex;
}

#backgroundButtonsWrapper {
  display: flex;
}

